<% title "Inloggen" %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "Gebruikersnaam" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, "Paswoord" %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log in" %></p>
<% end %>


